body {
	font-size: 1.6rem;
}

.count-display {
	margin-top: 4rem;
}

.abs-fb {
	margin-top: 10rem;
	position: absolute;
}

.count-button {
	font-size: 1.6rem;
	padding: .5rem .7rem;
	margin: 0 .8rem;
}

.reset-button {
	margin-top: 2rem;
	font-size: 1.6rem;
	padding: .3rem;
}

.main-display {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bold-display {
	font-weight: 600;
}
